h1.center Place to Woicy logo
include ../login.jade

.jumbotron
    .container.container__hello
        p
            h2 We want to voice texts, acticles, news with you
        p
            a(ng-click="showDetails=!showDetails").btn.btn-primary.btn-lg Learn more
        div(ng-show="showDetails")
            h3 Listen real people voicing your favorite articles, newspapers and othe texts in web
            h3 Listen while you busy
            h3 Voice articles and became the best dictor


